.Table__wrapper {
  width: 60vw;
  height: 50vw;
  margin: auto;
  padding-bottom: 4rem;
}

.Table__container {
  border: 0.25rem solid black;
  width: 100%;
  border-radius: 0.5rem;
  height: max-content;
  padding: 0.5rem 1rem 1rem 1rem;
  margin-top: 6rem;
  box-shadow: 12px 12px 2px 1px rgb(126, 232, 232);
}

th {
  padding-right: 0.8rem;
  font-size: 1.25rem;
  padding-bottom: 0.5rem;
}
