.Table__wrapper {
  width: 60vw;
  height: 50vw;
  margin: auto;
  padding-bottom: 4rem;
}

.Table__container {
  border: 0.25rem solid black;
  width: 100%;
  border-radius: 0.5rem;
  height: max-content;
  padding: 0.5rem 1rem 1rem 1rem;
  margin-top: 6rem;
  box-shadow: 12px 12px 2px 1px rgb(126, 232, 232);
}

th {
  padding-right: 0.8rem;
  font-size: 1.25rem;
  padding-bottom: 0.5rem;
}

@media only screen and (max-width: 400px) {
  .Table__wrapper {
    transform: scale(0.6);
    width: 110vw;
    margin: 0rem -1.5rem;
    margin-top: -5rem;
  }

  th {
    padding-right: 2rem;
    padding-bottom: 4rem;
  }
}

@media only screen and (max-width: 550px) {
  .Table__wrapper {
    transform: scale(0.7);
    width: 105vw;
    margin: 0rem -1.5rem;
    margin-top: -5rem;
  }

  th {
    padding-right: 2rem;
    padding-bottom: 4rem;
  }
}
