@import "../../theme.scss";

.Sort__wrapper {
  display: flex;
}

.Sort {
  padding-right: 0.35rem;
}

select {
  outline: none;
  border-color: $highlight_color;
  border-radius: 0.25rem;
  padding: 0.05rem;
}
