.BookCard__wrapper {
  border: 0.125rem groove black;
  height: max-content;
  width: 50vw;
  border-radius: 0.5rem;
  box-shadow: 12px 12px 2px 1px rgb(126, 232, 232);

  > h1 {
    text-align: center;
    padding: 1rem;
  }
}

.alignment__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.image__container {
  display: flex;
  justify-content: center;
  padding-top: 1.5rem;
  > img {
    border-radius: 1rem;
    transition: 0.75s ease-in;
    &:hover {
      filter: drop-shadow(0 -1mm 1mm rgb(189, 245, 245));
      transform: scale(1.05);
    }
  }
}

.previewLink {
  text-decoration: none;
  color: rgb(21, 131, 131);
  transition: 0.5s ease;
  &:hover {
    text-decoration: underline;
  }
}

.description__wrapper {
  height: 15rem;
  width: 42.5vw;
  background-color: #faf3dd;
  border-radius: 0.5rem;
  margin: auto;
  overflow-y: scroll;

  > p {
    padding: 1.25rem;
  }
}

.BookCard__textContent {
  margin: 2rem;
  > p {
    margin-bottom: 0.75rem;
  }
}

@media only screen and (max-width: 281px) {
  .BookCard__wrapper {
    transform: scale(0.6);

    width: 80vw;
    height: min-content;
  }
}

@media only screen and (min-width: 281px) and (max-width: 400px) {
  .BookCard__wrapper {
    transform: scale(0.7);

    width: 80vw;
    height: min-content;
  }
}

@media only screen and (min-width: 400px) and (max-width: 800px) {
  .BookCard__wrapper {
    transform: scale(0.8);

    width: 80vw;
    height: min-content;
  }
}

@media only screen and (max-height: 440px) {
  .BookCard__wrapper {
    margin-top: 6rem;
  }
}
